main .container {
  padding-top: 50px;
}
main .container .cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
}
main .container .cards .card {
  background-color: #000f39;
  color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 20px 10px;
  align-items: center;
  flex-basis: calc(200px);
  flex-grow: 1;
  border-radius: 10px;
}
main .container .cards .card i {
  font-size: 35px;
  color: var(--bg-color);
}
main .container .cards .card h1 {
  font-size: 20px;
}

main .container .cards .card .text {
  text-align: center;
}

main .container .links {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
  gap: 30px;
  flex-wrap: wrap;

}
main .container .links a {
  text-decoration: none;
  flex-grow: 1;
  width: calc(200px);
  border-radius: 8px;
  font-size: 12px;
  color: #000f39;
  text-align: center;
  box-shadow: 0 0 10px #20202031;
  overflow: hidden;
}
main .container .links a .card {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .container .links a .top {
  height: 150px;
  position: relative;
}
main .container .links a .top .top-text {
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  background-color: #3ea6de7e;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  border-radius:  8px  8px 0 0;
  transition: top .2s;
}
main .container .links a:hover .top .top-text {
  top: 0;
}

main .container .links a .top span {

  border-radius: 2px;
  color: #fFf;
  padding: 1px 6px;
  font-weight: 600;
}
main .container .links a .top img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

main .container .links a .bottom {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 10px;

}

main .container .card h2 span {
  color: var(--bg-color);
}

